h1 {
    text-align: center;
}

.tasks {
    text-align: ;
    width: 700px;
    margin: 50px auto;
}

li {
    list-style-type: none;
    font-size: 30px;
    padding: 15px;
    text-align: left;
}

.output {
    width: 500px;
    font-size: 30px;
    text-align: left;
}


