h1 {
    text-align: center;
}

.tasks {
    text-align: ;
    width: 90%;
    margin: 50px auto;
}

li {
    list-style-type: none;
    font-size: 1.5em;
    padding: 15px;
    text-align: left;
}

.output {
    width: 100%;
    text-align: left;
}

.update {
      margin-bottom: 10px;
}

.delete {
      margin-bottom: 10px;
}

#add {
    width: 100%;
}


